#cloud-config

hostname: "etcd"

coreos:
  etcd2:
    discovery: ${discovery_url}
    advertise-client-urls: http://$private_ipv4:2379
    listen-client-urls: http://0.0.0.0:2379
    initial-advertise-peer-urls: http://$private_ipv4:2380
    listen-peer-urls: http://$private_ipv4:2380
  fleet:
    metadata: "role=services,cabinet=one"
  units:
    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start
